* {
    font-family: 'Noto Sans', sans-serif;
    color: #BAFF39;
}

body
{
    background-color: #6E6E6E;
}

body, html {
    height: 95%;
    width: 95%;
    margin: 1.25% auto;
}

div {
    display: flex;
    flex-direction: column;
}

#container {
    border: solid 3px white;
    border-radius: 1em;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#defaultDisplay {
    margin-top: 2%;
    width: 30%;
    justify-content: space-between;
    height: 95%;
}

#newContent {
    margin-top: 2%;
    width: 60%;
    height: 95%;
}

#colorDiv {
    display: inline-block;
    color: white;
}
h1 {
    font-weight: 300;
    margin: 0 0 2% 3px;
}

h4 {
    font-weight: 300;
    margin: 0 0 2% 3px;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    margin-top: 5%;
    list-style: none;
    padding-left: 3px;
}
